body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}



#setupDiv, #gameDiv, #resultDiv {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 8px;
}

#songInfo {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #ec6800;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transitions */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

button:active {
    background-color: #3e8e41; /* Even darker green on click */
}


#groupOptions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#groupOptions label {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
}

#groupOptions input[type="checkbox"] {
    vertical-align: middle;
}

.container {
    max-width: 600px; /* Match the width of your other sections */
    margin: 0 auto; /* Center the content */
}